* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: 0 auto;
}

.container {
  height: 630px;
  background-color: antiquewhite;
  max-width: 74%;
  margin: 0 auto;
  position: relative;
}

.text_block {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56%;
  background-color: aliceblue;
  text-align: center;
  padding: 110px 20px;
}

.text_content {
  width: 83%;
  margin: 0 auto;
}
